html {
  background-color: rgb(102, 102, 102);
  display: flex;
  font-size: 62.5%;
  justify-content: center;
  overflow: auto;
}

body {
  box-sizing: border-box;
  font-family: Roboto , sans-serif;
  font-size: 16px;
  margin: 0;
  max-height: 640px;
  max-width: 360px;
  min-height: 640px;
  min-width: 360px;
  overflow: auto;
  padding: 0;
}
