*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  background-color: rgb(102, 102, 102);
  display: flex;
  font-size: 62.5%;
  justify-content: center;
}

body {
  box-sizing: border-box;
  font-family: Roboto , sans-serif;
  font-size: 1.6rem;
  height: 64rem;
  margin: 0;
  max-width: 36rem;
  min-width: 36rem;
  overflow: auto;
  padding: 0;
}

.food-container, .drink-container {
  height: 64rem;
  overflow: auto;
  padding-bottom: 3rem;
  position: relative;
  width: 36rem;
}
