.sectionDescribe {
  max-width: 360px;
  min-width: 360px;
  max-height: 640px;
  min-height: 640px;
  overflow: scroll;
}

.divButtons {
  display: flex;
  justify-content: center;
}

.divButtonShare {
  display: flex;
  margin-right: 5px;
  align-items: center;
}

.linkMessage {
  width: 65px;
}

.recommendedList {
  display: flex;
  list-style: none;
  overflow: scroll;
  padding: 0;
  text-align: center;
}

.ingredientsList {
  margin: 3px;
  font-size: 15px;
  font-weight: 500;
}

.instructions {
  border-radius: 10px;
  padding: 20px;
  font-size: 15px;
  font-weight: 700;
}

.describeButtonStart {
  border: solid 2px rgb(95, 94, 94);
  border-radius: 7px; 
  bottom: 0;
  font-size: 13px;
  font-weight: 900;
  height: 50px;
  margin-left: 135px;
  position: fixed;
  max-width: 90px;
  min-width: 90px;
}
