.sectionDescribe {
  max-height: 640px;
  min-height: 640px;
  overflow: scroll;
}

.recommendedList {
  display: flex;
  list-style: none;
  overflow: scroll;
  padding: 0;
  padding-bottom: 40px;
  text-align: center;
}

li {
  margin: 3px;
}

.describeButtonStart {
  position: fixed;
  bottom: 0;
  width: 90px;
  height: 50px;
  margin-left: 37.5%;
}
