.headerPageAll {
  align-items: center;
}

.headerPage {
  background-color: rgb(196, 196, 196);
  display: flex;
}

.pageTitle {
  align-items: center;
  display: flex;
  font-weight: 700;
  justify-content: center;
  margin: 0;
  min-width: 268px;
  padding: 0;
}

.headerInput {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  width: 80%;
}
