.login-container {
  align-items: center;
  background-image: linear-gradient(to left bottom, #ebd4cb, #da9f93);
  display: flex;
  flex-direction: column;
  height: 64rem;
  justify-content: space-between;
  width: 100%;
}

.logo-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo__img {
  height: 12rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20rem;
  padding: 20px;
}

.login__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: inherit;
  font-family: Roboto , sans-serif;
  padding: 7px 15px;
  transition: all 0.4s;
  width: 100%;
}

.login__input:focus {
  border-bottom: 1px solid rgb(177, 204, 43);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}

.login__input:invalid {
  border-bottom: 1px solid rgb(239, 40, 34);
  box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.15);
  outline: none;
}

.login__btn {
  align-self: center;
  background-color: rgb(177, 204, 43);
  border: 1px solid rgb(178, 204, 43);
  border-radius: 0.6rem;
  color: rgb(72, 34, 13);
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
  min-width: 100%;
  padding: 5px 25px;
  text-align: center;
}

.login__btn:disabled {
  background-color: rgb(146, 146, 146);
  border: 1px solid rgb(146, 146, 146);
  color: rgb(85, 85, 85);
}

.login__label {
  color: rgb(72, 34, 13);
  font-family: Lobster , cursive;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 8px;
}

