/* stylelint-disable selector-list-comma-space-after */
.recipe-background {
  max-height: 64rem;
  max-width: 36rem;
  min-height: 64rem;
  min-width: 36rem;
  overflow: scroll;
}

.recipe-progress__container {
  max-height: 64rem;
  max-width: 36rem;
  min-height: 64rem;
  min-width: 36rem;
  overflow: scroll;
  position: relative;
}

.recipe-progress__img {
  width: 36rem;
}

.recipe-progress__heading {
  background-image: linear-gradient(to bottom, transparent, black);
  left: 0;
  padding: 2rem 1rem;
  position: absolute;
  top: 25.3rem;
  width: 36rem;
}

.recipe__heading--message {
  color: #555;
  display: block;
  font-size: 1.2rem;
  padding: 2rem 0;
  text-align: center;
}

.recipe-progress__name,
.recipe-progress__category,
.recipe-progress__quantity {
  color: #eaf2c0;
}

.recipe-progress__details {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.recipe-progress__category, .recipe-progress__quantity {
  font-size: 1.75rem;
}

.recipe-progress__quantity {
  font-size: 1.5rem;
  font-weight: 400;
}

.recipe-progress__name {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -1px;
}

.recipe-progress__buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 25rem;
  position: absolute;
  top: 37rem;
  width: 10rem;
}

.recipe-progress__list {
  list-style: none;
  padding: 2rem;
}

.ingredients__check,
.ingredients__name {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 400;
}

.ingredients__name {
  color: #697819;
  font-weight: 700;
}

.checked {
  color: #6e6e6e;
  font-style: italic;
  text-decoration: line-through;
}

.progress-menu__btn {
  background-color: transparent;
  border: none;
  padding: 1rem;
}

.progress-menu__icon,
.progress-menu__icon--step {
  fill: #697819;
  height: 2.7rem;
  width: 2.7rem;
}

.progress-menu__icon--step {
  padding: 5px;
}

.recipe__heading {
  color: #697819;
  font-size: 2.7rem;
  font-weight: 400;
  margin: 4rem 0 0 3rem;
}

.recipe-progress__instructions {
  background-color: #f3f8dc;
  padding-top: 2px;
}

.instructions__list {
  list-style: none;
  padding: 2rem;
}

.instructions__item {
  background-color: white;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
}

.instructions__heading {
  color: #697819;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 1rem;
}

.instructions__text {
  font-size: 1.25rem;
  padding-left: 1rem;
  word-spacing: 1px;
}

.recipe-progress__btn {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  width: 100%;
}

.finish-recipe__btn {
  background-color: rgb(182, 70, 95);
  border: 1px solid transparent;
  border-radius: 6rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.14);
  color: rgb(249, 242, 240);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem auto;
  min-width: 9rem;
  padding: 1rem 2rem;
}

.finish-recipe__btn:disabled {
  background-color: rgb(235, 212, 203);
  box-shadow: none;
  color: rgb(116, 116, 116);
  cursor: not-allowed;
}

.done {
  align-items: flex-start;
  flex-direction: column;
}

.done-recipe {
  background-color: #f9f0f2;
}

.done-recipe__card {
  background-color: white;
  border-radius: 7px;
  box-shadow: 1rem 1rem 1rem rgba(182, 70, 95, 0.13);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  min-width: 90%;
  padding: 1rem;
}

.done-recipe__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.done-recipe__link:hover, .done-recipe__link:active {
  text-decoration: none;
}

.done-recipe__img {
  border-radius: 5px;
  height: 6rem;
  margin: 5px 0;
}

.done-recipe__heading {
  color: rgb(182, 70, 95);
  font-size: 1.8rem;
  max-height: 3.2rem;
  text-decoration: none;
}


.tag__list {
  list-style: none;
}

.done-recipe__options {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: 7rem;
  margin-top: -4rem;
}

.done-menu__btn {
  background-color: transparent;
  border: none;
  padding: 2px;
}

.done-menu__icon {
  fill: rgb(182, 70, 95);
  height: 2.2rem;
  width: 2.2rem;
}

.done-recipe__date {
  align-items: center;
  color: #890620;
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.done-recipe__date h3 {
  font-size: 1.4rem;
  margin-left: 5px;
  margin-top: 5px;
}

.done-recipe__date span {
  align-items: center;
  display: flex;
}

.done-recipe__tag--nacionality,
.done-recipe__tag--category,
.done-recipe__tag--alcoholic,
.tag__list li {
  background-color: rgb(177, 204, 43);
  border-radius: 3rem;
  color: rgb(72, 34, 13);
  font-size: 1.05rem;
  margin: 0 4px;
  padding: 2px 8px;
}

.done-recipe__tag--alcoholic {
  background-color: rgb(75, 29, 63);
  color: white;
}

.alcoholic {
  margin-top: -3rem;
}

.done-recipe__tag--category {
  background-color: #ef2822;
  color: white;
}

.tag__list li {
  background-color: rgb(255, 196, 3);
}
