/* stylelint-disable string-quotes */

/* stylelint-disable selector-no-qualifying-type */
.search-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.search__input label {
  margin: 0;
}

.search__input {
  background-color: transparent;
  border: 1px solid #2c0703;
  border-radius: 20rem;
  color: #2c0703;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 5px;
  padding: 1px 8px;
  text-align: center;
  transition: all 0.3s;
}


.search__input input[ type = "radio" ]:focus + label {
  background-color: rgb(182, 70, 95);
  border: 1px solid rgb(182, 70, 95);
}

.search__input:hover {
  background-color: rgb(218, 159, 147);
  border: 1px solid transparent;
  color: white;
}

.search__filters input[ type = "radio" ]:checked + label {
  background-color: rgb(182, 70, 95);
  border: 1px solid rgb(182, 70, 95);
}

.search__filters {
  align-items: center;
  display: flex;
}

.search__btn {
  background-color: #890620;
  border: 1px solid #890620;
  border-radius: 4px;
  color: white;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  padding: 3px 1.7rem;
}

.categories-container {
  margin-top: 2rem;
}

.category__btn {
  background-color: white;
  border: 1px solid rgb(239, 40, 34);
  border-radius: 3rem;
  color: #48220d;
  font-size: 1.2rem;
  margin: 5px;
  padding: 2px 5px;
}

.category__btn:link {
  background-color: rgb(239, 40, 34);
  color: wheat;

}
